/*----------PAGE STYLING START---------*/

.page
{
    background-color: #AEAEAE;
}


/*----------NAVBAR STYLING START---------*/

.brand
{
    padding-left: 10px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.brand img
{
    height: 80%;
    width: inherit;
    margin-top: 10%;
}

.nav-bar-style
{
    box-shadow: 0px 0px 0px;
    border-radius: 0px !important;
    background-color: #847E7E;
    border-color: none;
    border: 0px;
}

.navbar-collapse
{
    border-color: #5A5050 !important;
}

.nav-bar-button
{
    border-color: #5A5050 !important;
    background-color: none;
}

.nav-bar-button:focus
{
    background-color: #847E7E !important;
}

.nav-bar-button:hover
{
    background-color: #5A5050 !important;
}

.nav-bar-button > span
{
    background-color: white !important;
}

#LinkList > li > a
{
    color: white;
}

#LinkList > li > a:hover, #LinkList > li > a:focus {
    background-color: #5A5050;
    color: white;
}

/*----------ANIMATION STYLING START---------*/

.animation-container {
  position: absolute;
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

/*Scroll page input from the right*/
.view-animation-right {
  padding: 10px;
}

.view-animation-right.ng-enter, .view-animation-right.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;

  display: block;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.view-animation-right.ng-enter {
  left: 100%;
}
.view-animation-right.ng-enter.ng-enter-active {
  left: 0;
}
.view-animation-right.ng-leave.ng-leave-active {
  left: -100%;
}

/*Scroll page input from the left*/
.view-animation-left {
  padding: 10px;
}

.view-animation-left.ng-enter, .view-animation-left.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .2s;

  display: block;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.view-animation-left.ng-enter {
  left: -100%;
}
.view-animation-left.ng-enter.ng-enter-active {
  left: 0;
}
.view-animation-left.ng-leave.ng-leave-active {
  left: 100%;
}
/*----------HOME PAGE STYLING START---------*/

/*----------CONTACT PAGE STYLING START---------*/

#ContactSubmitButton
{
    margin-top: 15px;
    margin-bottom: 20px;
}

textarea
{
    resize: none;
}

/*----------ABOUT PAGE STYLING START---------*/

