/*----------PAGE STYLING START---------*/

.page
{
    background-color: #AEAEAE;
}


/*----------NAVBAR STYLING START---------*/

.brand
{
    padding-left: 10px;
    padding-right:0px;
    padding-top:0px;
    padding-bottom:0px;
}

.brand img
{
    height: 80%;
    width: inherit;
    margin-top: 10%;
}

.nav-bar-style
{
    box-shadow: 0px 0px 0px;
    border-radius: 0px !important;
    background-color: #847E7E;
    border-color: none;
    border: 0px;
}

.navbar-collapse
{
    border-color: #5A5050 !important;
}

.nav-bar-button
{
    border-color: #5A5050 !important;
    background-color: none;
}

.nav-bar-button:focus
{
    background-color: #847E7E !important;
}

.nav-bar-button:hover
{
    background-color: #5A5050 !important;
}

.nav-bar-button > span
{
    background-color: white !important;
}

#LinkList > li > a
{
    color: white;
}

#LinkList > li > a:hover, #LinkList > li > a:focus {
    background-color: #5A5050;
    color: white;
}

/*----------ANIMATION STYLING START---------*/



/*----------HOME PAGE STYLING START---------*/

/*----------CONTACT PAGE STYLING START---------*/

#ContactSubmitButton
{
    margin-top: 15px;
    margin-bottom: 20px;
}

textarea
{
    resize: none;
}

/*----------ABOUT PAGE STYLING START---------*/

